<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6 border border-3 rounded-3 p-4 bg-light my-1">
            <%= render "form", butext: 'New Event' %>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>